[submodule "deps/restdown"]
	path = deps/restdown
	url = git://github.com/trentm/restdown.git
[submodule "deps/javascriptlint"]
	path = deps/javascriptlint
	url = git://github.com/davepacheco/javascriptlint.git
[submodule "deps/jsstyle"]
	path = deps/jsstyle
	url = git://github.com/davepacheco/jsstyle.git
[submodule "deps/manta-scripts"]
	path = deps/manta-scripts
	url = git@git.joyent.com:manta-scripts.git
[submodule "deps/sdc-scripts"]
	path = deps/sdc-scripts
	url = git@git.joyent.com:sdc-scripts.git
