[submodule "deps/javascriptlint"]
	path = deps/javascriptlint
	url = https://github.com/davepacheco/javascriptlint.git
[submodule "deps/jsstyle"]
	path = deps/jsstyle
	url = https://github.com/davepacheco/jsstyle.git
[submodule "deps/jsdoc3"]
	path = deps/jsdoc3
	url = https://github.com/jsdoc3/jsdoc.git
	branch = remotes/origin/releases/3.1
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/trentm/json.git
